body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 45px;
}
.name-color {
  color: orange;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 100%;
}
.create-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 30px;
  border-radius: 10%;
  color: white;
  font-weight: 700px;
}
